<link rel="stylesheet" href="/css/signin.css">
<div id="sign-form">
    <div class="inner">
        <h1>Forgot Password</h1>
        <form action="/reset_password" method="POST">
            <div class="form-input">
                <input type="email" name="email" placeholder="Enter your Email" required>
            </div>
            <div class="form-input">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>