<link rel="stylesheet" href="/css/signin.css">
<div id="sign-form">
    <div class="inner">
        <h1>Enter new Password</h1>
        <form action="/reset_password/<%= accessToken %>" method="POST">
            <div class="form-input">
                <input type="password" name="password" placeholder="Enter password" required>
            </div>
            <div class="form-input">
                <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
            </div>
            <div class="form-input">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>