#home-container{
    display: flex;
    #feed-posts{
        width: 70%;
        padding: 10px;
    }
    #user-friends-list{
        width: 30%;
        padding:10px;
        border-left: 1px solid lightgrey;
        // height: 100%;
        #friend-list{
            display: flex;
            padding: 5px;
            img{
                width: 53px;
                height: 55px;
                margin-right: 20px;
                border-radius: 50%;
            }
            a{
                margin-top: 12px;
            }
        }
    }
}



