<div>
    <p>HI <%= resetPassword.user.name %>, <br> Here is the link to reset your password:</p>
    <p>Either click on this link <strong>http://localhost:9000/setNewPassword/<%= resetPassword.accessToken %></strong> click below button</p>
    <a href="http://localhost:9000/setNewPassword/<%= resetPassword.accessToken %>" style="height: 50px; width: 100px; background: Cyan;">Click this button</a>
</div>